.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #fcfcfc;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
    font-size: 20px;    
}

.nav .nav__list-link {
    position : relative;
}

.nav .nav__badge {
    position: absolute;
    font-size: 10px;
    color : white;
    background-color: #dc5d46;
    top : -7px;
<<<<<<< HEAD
    right : -5px;
    width : 14px;
    height : 14px;
=======
    right : -7px;
    width : 18px;
    height : 18px;
>>>>>>> 972ef80793ebdc8ef02ec5a4b2f33ad152283602
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}